.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DunkLebron{
  background-image: url(./assets/dunk.gif);
  background-size:cover;
  background-position: center;
}

.LebronDunk{
  background-image: url(./assets/LebronDunk.gif);
}




.Jokic{
  max-width: 100%;
  height: 10vw;
  background-image: url(./assets/Jokic.gif);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Kobe{
  max-width: 100%;
  height: 10vw;
  background-image: url(./assets/Kobe.gif);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Table styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  background-color: #fff;
  border: 2px solid #ff943d; /* Green border around the table */
}

/* Header styles */
.header-row {
  background-color: #ff943d; /* Green background for headers */
  color: white;
}

.header-cell {
  padding: 15px;
  text-align: left;
  border: 1px solid #ff943d; /* Border for header cells */
  font-weight: bold;
}

/* Body styles */
.body-row:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for alternating rows */
}

.body-row:nth-child(odd) {
  background-color: #fafafa; /* Slightly lighter for odd rows */
}

.body-cell {
  padding: 15px;
  border: 1px solid #ddd; /* Borders for body cells */
  text-align: left;
}

/* Hover effects */
.body-row:hover {
  background-color: #f1f1f1;
  border: 1px solid #ff943d; /* Highlighted border on hover */
}

/* Add rounded corners to the table */
.styled-table {
  border-radius: 8px;
  overflow: hidden; /* Ensures border-radius works with table */
}



